Sem3/Configs/
Sem3/Frontend/
Sem3/JavaHomework/
Sem3/SiAOD-2-year/
Sem4/MobileDev/
Sem4/ProductDesign/results/
Sem4/Python/
Sem4/SoftDev/Practics/HW1_1/
Sem4/SoftDev/Practics/HW1_2/
Sem4/SoftDev/Practics/HW1_2.2/
Sem4/SoftDev/Practics/HW1_3/
Sem4/SoftDev/Practics/HW1_3.2/
Sem4/SoftDev/Practics/HW2_2/Django-To-Do-list-with-user-authentication/
Sem4/SoftDev/Practics/HW3/trpp-second-13/
Sem4/SoftDev/Practics/HW3_initial/trpp-second-13/
Sem4/SoftDev/Practics/trpp_database/
Sem5/Backend/
Sem5/IoT/Projects/7/
Sem5/IoT/Projects/8/
Sem5/Testing/Pract1/GODOT_ERROR/
Sem5/Testing/Pract4/Proj1/
Sem5/Testing/Pract4/Proj2/
TermPapers/Sem3_Paper/
TermPapers/Sem4_Pizzeria/
TermPapers/unity-manual/
Sem4/ProductDesign/Отчеты/PizzaPile.mp4
Sem4/SoftDev/Practics/HW5/debian-12.10.0-amd64-netinst.iso
